@keyframes borderBottomRgb {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--coolLightBlue);
    padding: 1rem;
    position: relative;
}
header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left,#03001e ,#7303c0,#ec38bc ,#000428);
	background-size: 200% ;
	animation: borderBottomRgb 10s ease infinite;
}
header h1 {
    font-size: x-large;
    line-height: 116%;
    color: var(--pureBlack);
}
header button {
    background:none;
    cursor: pointer;
    border: none;
    width: fit-content;
    margin-right: 1rem;
}

header nav {
    position: absolute;
    text-align: center;
    width: fit-content;
    right: 0;
    opacity: 1;
    z-index: 10;
    top:100%;
    width: 10rem;
    justify-content: end;
    height: 10rem;
    background-color: var(--coolLightBlue);
    border-radius: 0 0 0 1rem;
}

nav ul {
    position: relative;
    color: var(--pureBlack);
    display: flex;
    gap: 1.5rem;
    margin-left: 1.2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

