header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size:1.8rem;
    line-height: 116%;
    font-weight: 900;
}

header ul {
    display: flex;
    list-style: none;
    font-weight:lighter ;
    gap: 2rem;
    line-height: 120%;
}
header ul li{
    padding:0.3rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
    cursor: pointer;
}
header ul li:hover{
    background: rgba(0,0,0,0.5);
}
header p a {
    color: inherit;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.main-principal {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.main-principal section {
    text-align: left;
}
.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background: blur(3rem);
}

.text-main {
    font-size: 5.3rem;
    color: #ade4ad;
    line-height: 80%;
}
.credit-card{
    width: 20rem;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: -1;
    transform: rotateZ(50deg) translateX(1rem) translateY(-2rem);
}
.main-ul {
    list-style-type: disc;
    margin-left: -1rem;
    display: flex;
    gap:1.2rem;
    color: #ade4ad;
}
.topics {
    margin-top: 1rem;
    text-align: left;
}
.topics-name {
    font-weight: 800;
    font-size: 2rem;
}
.topics-description {
    width: 70%;
    word-break: keep-all;
}

#business {
    background-color : #053e25;
    width: fit-content ;
    padding: 2rem;
    border-radius: 0.3rem;
    align-self: center;
} 
.message-information {
    display: flex;
    flex-wrap: wrap;    
}

.message-information .messages:nth-child(1){
    border-color: #1c9f1d;
    border-width: 0 4px 0 0 ;
    border-style: solid;
}

.message-information .messages {
    width: 50%;
    
}
.message-information .messages h3 {
    font-size: 2rem;
    color:#cad0a2;
}
.message-information .messages p {
    width: 60%;
    color:#44b130;
    margin: 0 auto;
    text-align: center;
    word-break: inherit;
}
#message-star{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}
#message-star img {
    border-radius: 100%;
}
.stars {
    color:#ade4ad ;
}
.topics {
    padding:1rem;
    color:#053e25;
    border: 2px solid #053e25;
    width: 90%;
    align-self: center;
    border-radius:0.3rem
}
.topics-name {
    margin:1rem 0;
}