:root {
    --pureBlack: #000000;
    --slightlyLighter: #0F0F0F;
    --deepNavyBlue: #2C3E50;
    --darkSteelBlue: #34495E;
    --coolLightBlue: #5C97BF;
    --lightGray: #AAB8C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: var(--slightlyLighter);
    color: var(--lightGray);
    overflow-x: hidden;
}